*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: rgba(37, 37, 37, 0.993);
}
.container{
    position: relative;
    margin-left: 130px;
    border-left: 5px groove greenyellow;
    min-height: 100vh;
    background-color: white;
}
.navbar{
    position: fixed;
    left: 15px;
    top: 25vh;
}
.mode{
    width: 100px;
    height: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 50px;
    color: white;
    transition: all 0.5s;
    user-select: none;
    cursor: pointer;
}
.mode p{
    font-size: 18px;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    font-weight: 600;
    transition: all 0.5s;
}
.active{
    color: greenyellow;
}
.mode:hover{
    font-size: 52px;
}
.mode:hover p{
    font-size: 22px;
}
/*Modules*/
.module{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.exit{
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.exit i{
    font-size: 40px;
    color: beige;
    transition: all 0.5s;
}
.exit i:hover{
    font-size: 50px;
    text-shadow: 4px 4px 5px red;
}
.module .form{
    color: white;
    width: 100%;
}
.module .form h1, .module .form h2{
    margin-bottom: 40px;
    text-align: center;
}
.module .form h2{
    color: rgb(255, 0, 0);
}
.module .form h1 span{
    padding: 10px 15px;
    border-bottom: 2px solid rgb(255, 135, 135);
    border-radius: 30px;
    letter-spacing: 2px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.module .form form{
    display: flex;
    flex-direction: column;
}
.module .form form input, .module .form form textarea{
    padding: 15px 10px;
    font-size: 18px;
    color: black;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    margin: auto;
    margin-bottom: 10px;
}
.module .form form .submit{
    width: 150px;
    background-color: rgb(50, 205, 63);
    color: white;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s;
}
.module .form form .submit:hover{
    background-color: rgb(23, 109, 30);
}
.module .form form #delete{
    background-color: red;
}
.module .form form #delete:hover{
    background-color: rgb(160, 0, 0);
}
/*Edit Module*/
.edit-mode{
    display: none;
}

/* Delete Module*/
.delete-mode{
    display: none;
}

/*Add Module*/
.add-mode{
    display: none;
}

/*Notepad*/
#mypad{
    transition: all 0.5s;
}
.notepad{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 94%;
    max-width: 1400px;
    margin: auto;
}
.note{
    width: 400px;
    height: 300px;
    border: 2px solid black;
    margin: 30px 0;
}
.note .header{
    height: 40px;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.note .header .heading{
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0% 10px;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 1.4px;
    font-style: italic;
}
.note .header .icons{
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em;
}
.fa-edit{
    color: rgb(255, 0, 179);
}
.fa-edit:hover{
    color: rgb(58, 150, 63);
}
.delete-btn{
    color: rgb(17, 0, 255);
}
.delete-btn:hover{
    color: red;
}
.note .body{
    height: 200px;
    padding: 10px;
}
.note .body p{
    font-size: 1.04em;
    margin-bottom: 10px;
}
.note .footer{
    height: 40px;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.note .footer .author span{
    font-weight: 600;
    text-transform: capitalize;
}
.note .footer .date{
    font-weight: 600;
}
.add-note{
    position: relative;
}
.add-bg{
    position: absolute;
    width: 400px;
    height: 300px;
    top: 0;
    background-color: rgba(0, 212, 53, 0.801);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    flex-direction: column;
    transition: all 0.5s;
}
.add-bg i{
    font-size: 40px;
    text-shadow: none;
    margin-bottom: 20px;
}
.add-bg:hover{
    background-color: rgba(29, 165, 63, 0.945);
    cursor: pointer;
    user-select: none;
}


/*To-do List*/
#todolist{
    transition: all 0.5s;
}
.list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}
.head, .data, .todo-form{
    width: 80%;
    max-width: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 5px;
    letter-spacing: 1.5px;
    font-size: 20px;
    border: 2px groove black;
    padding-right: 50px;
    position: relative;
    cursor: pointer;
}
.head{
    background-color: rgba(37, 37, 37, 0.993);
    color: yellow;
    font-size: 24px;
    font-weight: 600;
}
.todo-form{
    background-color: rgb(183, 255, 255);
    overflow: hidden;
    transition: height .5s;
}
.todo-form input{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    background-color: rgb(183, 255, 255);
    font-size: 20px;
    padding-left: 10px;
}
.data{
    border-top: none;
}
.data:nth-child(even){
    background-color: rgb(182, 255, 182);
}
.list-icon{
    position: absolute;
    right: 13px;
    font-size: 18px;
    transition: all 0.5s;
    cursor: pointer;
}
.list-icon:hover{
    font-size: 25px;
    color: chartreuse;
}
.dlt-icon:hover{
    color: red;
}
.enter-btn:hover{
    color: rgb(1, 167, 48);
}
.completed{
    text-decoration: line-through;
    color: gray;
}
.add-todo{
    display: none;
}
.add-todo .form form .submit{
    margin-top: 30px;
}
@media only screen and (max-width: 600px){
    .container{
        margin-left: 0px;
        border-left: none;
        padding-top: 100px;
    }
    .navbar{
        width: 100%;
        position: fixed;
        z-index: 9;
        left: 0px;
        top: 0vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px 0px;
        background-color: rgba(37, 37, 37, 0.993);
    }
    .mode{
        width: 100px;
        height: 50px;
        margin: 0 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 36px;
    }
    .mode p{
        font-size: 16px;
    }
    .mode:hover{
        font-size: 40px;
    }
    .mode:hover p{
        font-size: 18px;
    }
}
@media only screen and (max-width: 450px){
    .note{
        width: 320px;
        height: 250px;
    }
    .add-bg{
        width: 320px;
        height: 250px;
    }
    .note .header{
        height: 40px;
    }
    .note .header .heading{
        font-size: 1.1em;
    }
    .note .body{
        height: 150px;
        padding: 10px;
        font-size: 14px;
        overflow-y: scroll;
    }
    .note .footer{
        font-size: 0.9em;
    }
}